h1, h2
{
	line-height : 22px;
}

h1
{
	padding-bottom : 35px;
	background : transparent url('../images/hr.png') no-repeat bottom center;
	margin-bottom : 27px;
}

hr
{
	display : none;
}

div
{
	position : absolute;
	top : expression((document.documentElement.offsetHeight / 2 - this.offsetHeight * 0.5) + 'px');
	height : auto;
}