html, body
{
	color : #aea493;

	padding : 0;
	background-color : #4e5058;
	margin : 0;
	
	cursor : default;
}
html
{
	height : 100%;
}
body
{
	display : table;
	width : 100%;
	height : 100%;
	
	background : transparent url('../images/bg.jpg') no-repeat center center;
}

:link, :visited
{
	color : #aea493;
	text-decoration : underline;
	
	cursor : pointer;
}
:link:hover, :visited:hover
{
	color : #d39325;
}

h1, h2
{
	font : 27px/16px Palatino, Georgia, sans-serif;

	padding : 0;
	margin : 0;
}

#root
{
	display : table-cell;
	width : 100%;
	height : 100%;

	vertical-align : middle;
	text-align : center;
}

hr
{
	height : 8px;
	
	background : transparent url('../images/hr.png') no-repeat center center;
	border : 0 none;
	margin : 27px 0;
}

small
{
	display : block;
	
	font-size : 14px;
}

form, form div
{
	display : inline;
}

h1.tall
{
	margin-bottom : 1em;
}

form div
{
	padding : 5px;
}
