/***********************************************************\
*	Logo                                                    *
\***********************************************************/

table.layout_top {
	background: url(/themes/wilderness/logo.jpg) top left no-repeat;
	height: 100px;
}

table.layout_top td.leftside {
	width: 450px;
}

/***********************************************************\
*	Text colors                                             *
\***********************************************************/

div.siteheader {
	color: #000; /* Main title */
}

div.outer {
	color: #000; /* Main table */
}

a, span.hint, span.keyword:hover,
span.keyword_enabled, span.keyword_enabled:hover,
div.minibutton {
	color: #900; /* Link */
}

label:hover, a:hover {
	color: #fff; /* Link (hovered) */
}

body { /* Document */
	color: #FCE4CA;
}

div.container {
	color: #000; /* Content */
}

div.container2, div.container2 table, button, div.button, span.button, input, select, textarea {
	color: #000; /* Sub-content */
}

div.tab_active, button:focus, input:focus, select:focus, textarea:focus {
	color: #000; /* Input (focused) */
}

div.header div.tab {
	color: #EEB272;
}

div.header div.tab:hover {
	color: #000;
}

div.header div.tab_active, div.header div.tab_active:hover {
	color: #FCE4CA;
}

span.keyword_enabled,
span.keyword_enabled:hover {
	color: #fff; /* Marked text */
}

span.error, div.error {
	color: #fff; /* Error */
}

/***********************************************************\
*	Background colors                                       *
\***********************************************************/

body {
	background: #C12800; /* Document */
}

div.outer, div.pollbarvoted {
	background: #FCB879 url(/themes/wilderness/outer.jpg) top left repeat-x; /* Main table */
}

div.container {
	background: #EC933F url(/themes/wilderness/container_v2.jpg) top left no-repeat; /* Content */
}

div.container2 {
	background: #F5A55E url(/themes/wilderness/container2.jpg) top left no-repeat; /* Sub-content */
}

div.tab:hover, div.header div.tab:hover, button:hover, div.button:hover, span.button:hover, input:hover, select:hover, textarea:hover, div.pollbar {
	background: #E9842A url(/themes/wilderness/input-hover.jpg) top left repeat-x; /* Controls (hovered) */
}

div.tab, button, div.button, span.button, input, select, textarea {
	background: #E69148 url(/themes/wilderness/input.jpg) top left repeat-x; /* Controls */
}

div.tab_active, div.tab_active:hover, button:focus, input:focus, select:focus, textarea:focus {
	background: #FFB472 url(/themes/wilderness/input-focus.jpg) top left repeat-x; /* Controls (focused) */
}

div.header div.tab {
	background: #BF7844 url(/themes/wilderness/tab-inactive.jpg) bottom left repeat-x; /* Tab (inactive) */
}

div.header div.tab_active, div.header div.tab_active:hover {
	background: #D17728 url(/themes/wilderness/tab-active_v2.jpg) top left repeat-x; /* Tab (active) */
}

div.minibutton {
	background: #D67725; /* Mini-buttons */
}

div.minibutton:hover, img.thumb:hover, img.microthumb:hover, .text_under_icon:hover {
	background: #FFB472; /* Mini-buttons (hovered) */
}

/***********************************************************\
*	Border/stroke colors                                    *
\***********************************************************/

div.container2, div.hline, .cmt_border_left, div.pollbar, div.pollbarvoted {
	border-color: #FFB775; /* Sub-content */
}

img.thumb, img.microthumb {
	border-color: #945B25; /* Thumb shadow */
}
img.thumb:hover, img.microthumb:hover {
	background-color: #945B25; /* Thumb shadow */
	border-color: #ffcb99;
}

img.mature {
	border-color: #c00; /* Mature thumb border */
}
img.mature:hover {
	background-color: #c00; /* Mature thumb border */
}

div.tab, span.keyword, div.minibutton,
button, div.button, span.button, input, select, textarea {
	border-color: #6C4E32; /* Controls */
}

span.keyword_enabled,
span.keyword_enabled:hover {
	border-color: #f00; /* Marked text */
}

/***********************************************************/

input.checkbox, input.radio {
	border: none;
	background: none;
}

/***********************************************************/

.ui2-sidebar-td,
.ui2-sidebar,
.ui2-top-repeat,
.ui2-top-left,
.ui2-top-right,
.ui2-top-logo,
.ui2-separator,
.ui2-section-closed,
.ui2-section-open {
	background-color : #ed923f;
}

.ui2-sidebar {
	color : #000 !important;
}
.ui2-sidebar a,
.ui2-top-repeat a {
	color : #990000 !important;
}
.ui2-sidebar a:hover,
.ui2-top-repeat a:hover {
	color : #fff !important;
}

.ui2-tab-bg {
	background-color : #BF7844;
}

.ui2-tab-base:hover .ui2-tab-bg,
.ui2-tab-active .ui2-tab-bg {
	background-color : #D17728;
}

.ui2-tab-base * {
	color: #EEB272 !important;
}

.ui2-tab-base:hover *,
.ui2-tab-active * {
	color: #FCE4CA !important;
}
