div.header div.tab {
	top: -2px;
}

div.header div.tab_active {
	top: -5px;
}

/***********************************************************\
*	Logo                                                    *
\***********************************************************/

.layout_top {
	background: url(/themes/midnight/logo.jpg) top left no-repeat;
	height: 100px;
}

/***********************************************************\
*	Text colors                                             *
\***********************************************************/

div.siteheader, h1, div.container div.header {
	color: #ddf; /* Main title */
}

div.outer {
	color: #FFF; /* Main table */
}

a, span.hint, span.keyword:hover,
span.keyword_enabled, span.keyword_enabled:hover,
div.minibutton {
	color: #bbf; /* Link */
}

label:hover, a:hover, div.tab:hover /*, button:hover, div.button:hover, span.button:hover, input:hover, select:hover, textarea:hover*/ {
	color: #feb; /* Link (hovered) */
}

div.header a {
	color: #ccf;
}

div.header a:hover {
	color: #fea;
}

body, div.container {
	color: #eef; /* Content */
}

div.container2, div.container2 table, button, div.button, span.button, input, select, textarea {
	color: #dde; /* Sub-content */
}

div.tab_active, button:focus, input:focus, select:focus, textarea:focus {
	color: #ffe; /* Input (focused) */
}

div.header div.tab {
	color: #eef;
}

span.keyword_enabled,
span.keyword_enabled:hover {
	color: #fe0; /* Marked text */
}

span.error, div.error {
	color: #fe0; /* Error */
}

/***********************************************************\
*	Background colors                                       *
\***********************************************************/

body {
	background: #7272AC; /* Document */
}

div.outer, div.pollbar {
	background: #3E3B71 url(/themes/midnight/outer.jpg) top left repeat-x; /* Main table */
}

div.container {
	background: #504C87 url(/themes/midnight/container.jpg) top left no-repeat; /* Content */
}

div.container2 {
	background: #464274 url(/themes/midnight/container2.jpg) top left no-repeat; /* Sub-content */
}

div.tab:hover, div.header div.tab:hover, button:hover, div.button:hover, span.button:hover, input:hover, select:hover, textarea:hover {
	background: #6663A4 url(/themes/midnight/input-hover.jpg) top left repeat-x; /* Controls (hovered) */
}

div.tab, button, div.button, span.button, input, select, textarea {
	background: #4B4971 url(/themes/midnight/input.jpg) top left repeat-x; /* Controls */
}

div.tab_active, div.tab_active:hover, button:focus, input:focus, select:focus, textarea:focus {
	background: #494676 url(/themes/midnight/input-focus.jpg) top left repeat-x; /* Controls (focused) */
}

div.header div.tab {
	background: #565381 url(/themes/midnight/tab-inactive.jpg) top left repeat-x; /* Header tab (inactive) */
}

div.header div.tab_active, div.header div.tab_active:hover, div.pollbarvoted {
	background: #6663A4 url(/themes/midnight/input-hover.jpg) top left repeat-x; /* Header tab */
}

div.minibutton {
	background: #eee; /* Mini-buttons */
}

div.minibutton:hover, img.thumb:hover, img.microthumb:hover {
	background: #fff; /* Mini-buttons (hovered) */
}

.text_under_icon:hover {
	background: #7272AC;
}

/***********************************************************\
*	Border/stroke colors                                    *
\***********************************************************/

input:focus, textarea:focus {
	border-color: #fea;
}

div.container2, div.hline, .cmt_border_left, div.pollbar, div.pollbarvoted {
	border-color: #000; /* Sub-content */
}

img.thumb, img.microthumb {
	border-color: #000; /* Thumb shadow */
}
img.thumb:hover, img.microthumb:hover {
	background-color: #000; /* Thumb shadow */
	border-color: #B6C0FF;
}

img.mature {
	border-color: #b00; /* Mature thumb border */
}
img.mature:hover {
	background-color: #b00; /* Mature thumb border */
	border-color: #B6C0FF;
}

div.tab, span.keyword, div.minibutton,
button, div.button, span.button, input, select, textarea {
	border-color: #000; /* Controls */
}

span.keyword_enabled,
span.keyword_enabled:hover {
	border-color: #fd0; /* Marked text */
}

.reminder {
	border-color: #88d; /* Line to the left of parent comment in Updates */
}

/***********************************************************/

input.checkbox, input.radio {
	border: none;
	background: none;
}

/***********************************************************/

.ui2-layout-bg {
	background-color : #423f7e;
}

.ui2-sidebar {
	color : #eeeeff !important;
}
.ui2-sidebar a,
.ui2-top-repeat a {
	color : #bbbbff !important;
}
.ui2-sidebar a:hover,
.ui2-top-repeat a:hover {
	color : #ffeebb !important;
}

.ui2-tab-bg {
	background-color : #565381;
}

.ui2-tab-base:hover .ui2-tab-bg,
.ui2-tab-active .ui2-tab-bg {
	background-color : #6663A4;
}

.ui2-tab-base * {
	color: #eef !important;
}

.ui2-tab-base:hover *,
.ui2-tab-active * {
	color: #ffe !important;
}
