/***********************************************************\
*	Logo                                                    *
\***********************************************************/

.layout_top {
	background: url(/themes/original-blue/logo_v2.jpg) top left no-repeat;
	height: 100px;
}

/***********************************************************\
*	Text colors                                             *
\***********************************************************/

div.siteheader {
	color: #eef; /* Main title */
}

div.outer {
	color: #fff; /* Main table */
}

a, span.hint, span.keyword:hover,
span.keyword_enabled, span.keyword_enabled:hover,
div.minibutton {
	color: #bdf; /* Link */
}

label:hover, a:hover, div.tab:hover, button:hover, div.button:hover, span.button:hover, input:hover, select:hover, textarea:hover {
	color: #fd0; /* Link (hovered) */
}

body, div.container {
	color: #fff; /* Content */
}

div.container2, div.container2 table, button, div.button, span.button, input, select, textarea {
	color: #fff; /* Sub-content */
}

div.tab_active, button:focus, input:focus, select:focus, textarea:focus {
	color: #fd0; /* Input (focused) */
}

div.header div.tab {
	color: #fff;
}

span.keyword_enabled,
span.keyword_enabled:hover {
	color: #fd0; /* Marked text */
}

span.error, div.error {
	color: #fd0; /* Error */
}

/***********************************************************\
*	Background colors                                       *
\***********************************************************/

body {
	background: #477396; /* Document */
}

div.outer, div.pollbarvoted {
	background: #6A96BA url(/themes/original-blue/outer.jpg) top left repeat-x; /* Main table */
}

div.container {
	background: #477396 url(/themes/original-blue/container.jpg) top left no-repeat; /* Content */
}

div.container2 {
	background: #477396 url(/themes/original-blue/container2.jpg) top left no-repeat; /* Sub-content */
}

div.tab:hover, div.header div.tab:hover, button:hover, div.button:hover, span.button:hover, input:hover, select:hover, textarea:hover, div.pollbar {
	background: #3B5F7C url(/themes/original-blue/input-hover.jpg) top left repeat-x; /* Controls (hovered) */
}

div.tab, button, div.button, span.button, input, select, textarea {
	background: #416989 url(/themes/original-blue/input.jpg) top left repeat-x; /* Controls */
}

div.tab_active, div.tab_active:hover, button:focus, input:focus, select:focus, textarea:focus {
	background: #33526B url(/themes/original-blue/input-focus.jpg) top left repeat-x; /* Controls (focused) */
}

div.header div.tab {
	background: #33526B url(/themes/original-blue/input-focus.jpg) top left repeat-x; /* Controls (focused) */
}

div.header div.tab_active, div.header div.tab_active:hover {
	background: #416989 url(/themes/original-blue/input.jpg) top left repeat-x; /* Controls */
}

div.minibutton {
	background: #477396; /* Mini-buttons */
}

div.minibutton:hover, img.thumb:hover, img.microthumb:hover, .text_under_icon:hover {
	background: #6A96BA; /* Mini-buttons (hovered) */
}

/***********************************************************\
*	Border/stroke colors                                    *
\***********************************************************/

div.container2, div.hline, .cmt_border_left, div.pollbar, div.pollbarvoted {
	border-color: #000; /* Sub-content */
}

img.thumb, img.microthumb {
	border-color: #2F4B62; /* Thumb shadow */
}
img.thumb:hover, img.microthumb:hover {
	background-color: #2F4B62; /* Thumb shadow */
	border-color: #91CEFF;
}

img.mature {
	border-color: #900; /* Mature thumb border */
}
img.mature:hover {
	background-color: #900; /* Mature thumb border */
}

div.tab, span.keyword, div.minibutton,
button, div.button, span.button, input, select, textarea {
	border-color: #000; /* Controls */
}

span.keyword_enabled,
span.keyword_enabled:hover {
	border-color: #fd0; /* Marked text */
}

.reminder {
	border-color: #bdf; /* Line to the left of parent comment in Updates */
}

/***********************************************************/

input.checkbox, input.radio {
	border: none;
	background: none;
}

.ui2-layout-bg {
	background-color : #396588;
}

.ui2-sidebar {
	color : #fff !important;
}
.ui2-sidebar a,
.ui2-top-repeat a {
	color : #aaddef !important;
}
.ui2-sidebar a:hover,
.ui2-top-repeat a:hover {
	color : #ffdd00 !important;
}

.ui2-tab-bg {
	background-color : #33526B;
}

.ui2-tab-base:hover .ui2-tab-bg,
.ui2-tab-active .ui2-tab-bg {
	background-color : #416989;
}

.ui2-tab-base * {
	color: #fff !important;
}

.ui2-tab-base:hover *,
.ui2-tab-active * {
	color: #fd0 !important;
}
