body {
	line-height : 11px;

	background: #a7afa7;
	margin-top : 20px;
	margin-left : 12px;
}
a, a:link, a:visited {
	color : #546359;
	text-decoration : none;
}
a:hover, a:visited:hover {
	text-decoration : underline;
}
.gallery_col a:hover img, .gallery_col a:visited:hover img {
	background-color : #bbc2bb;
}
input[type="text"], input[type="password"], textarea, select {
	background-color : #d6dbd6;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	background-color : #eceeec;
}

img.thumb {
	padding : 1px !important;
	background-color : #fff !important;
	border : 1px solid #000 !important;
	-moz-border-radius : 0 !important;
}

table.layout_top td.leftside {
	width: 355px;
	height : 100px;

	background: url(/themes/original-blue/logo_da.png) top left no-repeat;
}
table.layout_top td.leftside:hover {
	background: url(/themes/original-blue/logo_da-hover.png) top left no-repeat;
}

table.layout_top td.leftside:after {
	display : block;
	width : 425px;

	content : "adult";
	font : 29px "Trebuchet MS", sans-serif;
	color : #c4cec4;
	text-align : right;
	margin-top : -22px;
}

.outer, .outer > .header {
	float : none !important;
	padding : 0 !important;
}
.outer > .header .f_right {
	position : relative;

	padding : 3px;
	background-color : #bbc2bb;
	border : 1px solid #4a584a;
}
.outer > .header .f_right + .f_left + .f_right {
	position : relative;
	top : -61px;

	background-color : transparent;
	border : 0 none;
}
.outer > .header .f_right + .f_left + .f_right > .largetext {
	margin-bottom : 13px;
}
.outer > .header .f_right + .f_left + .f_right > .largetext a:link,
.outer > .header .f_right + .f_left + .f_right > .largetext a:link:visited {
	color : #b6c0b6;
}

.header_title {
	float : none;

	color : #b6c0b6;

	padding : 5px 10px !important;
	background-color : #88938d;
	border : 1px solid #4a584a;
	-moz-border-radius : 4px 4px 0 0;
}
div.subheader {
	display : block;
	height : 20px;

	color : #546359;

	padding : 5px 10px;
	border-top : 1px solid #4a584a;
	background-color : #bbc2bb;
	margin : 2px -10px -5px;
}
.header_title a, .header_title a:link, .header_title a:visited {
	color : #dae4da;
}

.container {
	padding : 0 !important;
}
	.container .header, .padded > .sep {
		display : inline;
		float : left;
		position : relative;
		bottom : -1px;

		font : bold 11px Verdana, sans-serif;
		white-space : nowrap;

		padding : 3px 14px;
		border-width : 1px;
		border-style : solid;
		border-color : #346359 #346359 #bbc2bb #346359;
		margin : 10px 0 0 10px;
	}
	.container .header {
		border-bottom-color : #bbc2bb;
		background-color : #bbc2bb;
	}
	.container .f_right {
		float : right !important;
		margin-right : 10px !important;
	}
	.padded > .sep {
		border-bottom-color : #c4c9c4;
		background-color : #c4c9c4;
	}

	.layoutright .caption {
		background : #a4ada4 !important;
		border : 0 none !important;
		letter-spacing : 2px;
		font-weight : normal;
		font : 13px "Trebuchet MS";
		position : relative;
		top : 5px;
		display : block;
		float : none;
		padding : 1px 7px;
		margin-left : 7px;
		margin-right : 7px;
		margin-bottom : -32px;
		-moz-border-radius : 4px;
	}
	.layoutright form .caption {
		position : static;

		font : 11px Verdana, sans-serif;
		letter-spacing : 0;

		padding : auto !important;
		background-color : transparent !important;
		margin : 5px auto auto !important;
	}
	.layoutright .container2 {
		padding-top : 40px;
		border-top : 0 none;
	}
	.layoutright .container2:first-child {
		padding-top : 8px;
		border-top : 1px solid #546359 !important;
	}

.container2 {
	clear : both !important;
	overflow : hidden;

	border-color : #546359 !important;
	-moz-border-radius : 0 !important;
}
	.layoutleft .container2, .leftside form {
		display : block;

		padding : 5px;
		border : 1px solid #546359 !important;
		background-color : #bbc2bb !important;
	}
	.layoutright .container2 {
		background-color : #c4c9c4;
	}

.tab {
	margin : 0 !important;
	margin-top : 10px !important;
	margin-bottom : 6px !important;
	-moz-border-radius : 0 !important;
	background-color : #bbc2bb;
	border-left : 0 none !important;
	border-bottom : 1px solid #546359 !important;
	border-color : #546359 !important;
}
.tab:first-child {
	border-left : 1px solid #546359 !important;
}
.tab:hover {
	background-color : #b0bab0;
}
.tab_active {
	padding : 1px 8px !important;
	height : 20px !important;
	line-height : 20px !important;
	top : -3px !important;
	margin-bottom : 6px !important;
	border-right-width : 1px !important;
}

button, .button, input.submit {
	color : #000 !important;
	background-color : #afb7af !important;
	padding : 0 20px !important;
	border-width : 1px !important;
	-moz-border-radius : 3px !important;
}
button:hover, .button:hover, input.submit:hover {
	color : #000 !important;
	background-color : #c1cbc1 !important;
}
.button a:hover {
	text-decoration : none;
}
.header .button {
	white-space : nowrap;
}
.button_cmt {
	padding : 2px !important;
}

select {
	padding : 1px 0 !important;
	-moz-border-radius : 0.4em !important;
}

div.hline {
	border : 0 none;
	margin : 10px 0 8px !important;
}

div.hline:after {
	content : "-- ";

	font-size : 13px;

	border : 0 none;
}

#tab_messages table table {
	display : block;
	clear : both;

	border : 1px solid #546359;
	background-color : #bbc2bb;
}

#tab_comments > .header {
	border : 1px solid #546359;
	margin-bottom : 10px;
}

#tab_comments > .header + div {
	clear : both;
}

#tab_art .header {
	margin-bottom : -3px;
}

.gallery_col {
	height : 230px;

	background-color : #bbc2bb;
	margin : 0 !important;
}

.pollbar {
	background-color : #bbc2bb !important;
	height : 13px !important;
}
.pollbarvoted {
	background-color : #a4ada4 !important;
	height : 13px !important;
}
