body, button, input, select, optgroup, table, textarea, select, .normaltext,
div.siteheader, h1, div.header, div.subheader {
	font-family: Verdana, Arial, sans-serif;
}

h1, div.header {
	font: 19px Trebuchet MS, Arial, sans-serif;
}

body, button, input, select, optgroup, table, textarea, select, .normaltext {
	font-size: 13px;
}

.smalltext, sub, sup {
	font-size: 11px;
}

.largetext {
	font-size: 17px;
}

div.header div.tab {
	font-size: 12px;
}

.notsowide {
	width: 600px;
}

.notsowide_fix {
	width: 600px;
}

div.error {
	font-size: 14px;
}
