body, button, input, select, optgroup, table, textarea, select, .normaltext,
div.siteheader, h1, div.header, div.subheader {
	font-family: "Times New Roman", Verdana, sans-serif;
}

h1, div.header {
	font-size: 20px;
}

body, button, input, select, optgroup, table, textarea, select, .normaltext {
	font-size: 16px;
}

.smalltext, sub, sup {
	font-size: 12px;
}

.largetext {
	font-size: 19px;
}

div.header div.tab {
	font-size: 16px;
}

.notsowide {
	width: 600px;
}

.notsowide_fix {
	width: 600px;
}

div.error {
	font-size: 17px;
}
