body, button, input, select, optgroup, table, textarea, select, .normaltext,
div.siteheader, h1, div.header, div.subheader {
	font-family: "Times New Roman", Verdana, sans-serif;
}

body, button, input, select, optgroup, table, textarea, select, .normaltext {
	font-size: 14px;
}

.smalltext, sub, sup {
	font-size: 10px;
}

.largetext {
	font-size: 17px;
}

div.header div.tab {
	font-size: 14px;
}

div.error {
	font-size: 15px;
}
