body, button, input, select, optgroup, table, textarea, select, .normaltext,
div.siteheader, h1, div.header, div.subheader {
	font-family: "Trebuchet MS", Arial, sans-serif;
}

h1, div.header {
	font-size: 22px;
}

body, button, input, select, optgroup, table, textarea, select, .normaltext, div.subheader {
	font-size: 16px;
}

.smalltext, sub, sup {
	font-size: 13px;
}

.largetext {
	font-size: 20px;
}

div.header div.tab {
	font-size: 14px;
}

.notsowide {
	width: 700px;
}

.notsowide_fix {
	width: 700px;
}

div.error {
	font-size: 17px;
}
