body, button, input, select, optgroup, table, textarea, select, .normaltext,
div.siteheader, h1, div.header, div.subheader {
	font-family: Verdana, Arial, sans-serif;
}

h1, div.header {
	font: 21px Trebuchet MS, Arial, sans-serif;
}

body, button, input, select, optgroup, table, textarea, select, .normaltext, div.subheader {
	font-size: 14px;
}

.smalltext, sub, sup {
	font-size: 13px;
}

.largetext {
	font-size: 19px;
}

div.header div.tab {
	font-size: 14px;
}

.notsowide {
	width: 700px;
}

.notsowide_fix {
	width: 700px;
}

div.error {
	font-size: 15px;
}
