body, button, input, select, optgroup, table, textarea, select, .normaltext,
div.siteheader, h1, div.header, div.subheader {
	font-family: "Comic Sans MS", "Trebuchet MS", Arial, sans-serif;
}

body, button, input, select, optgroup, table, textarea, select, .normaltext {
	font-size: 12px;
}

.smalltext, sub, sup {
	font-size: 9px;
}

.largetext {
	font-size: 15px;
}

div.header div.tab {
	font-size: 12px;
}

div.error {
	font-size: 13px;
}
