body {
	cursor: default;
	margin: 0;
	padding: 0;
}

body, button, input, select, optgroup, table, textarea, .normaltext {
	font: 11px Verdana, Arial, sans-serif;
}

.smalltext, sub, sup {
	font-size: 9px;
}

.largetext {
	font-size: 16px;
}

div.error {
	font-size: 13px;
	padding: 4px 0;
}

form {
	display: inline;
}

select, img {
	vertical-align: middle;
}

a {
	text-decoration: none;
}

.pngIE {
	display: inline-block;
	vertical-align: middle;
}

a .pngIE {
	cursor: pointer;
}

acronym, img {
	border: none;
}

img.thumb {
	border: 2px solid black;
	margin: 3px;
	padding: 2px;
	-moz-border-radius: 4px;
}

.floating_thumb {
	float: left;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.floating_thumb img.thumb {
	border-width: 3px;
	margin: 0;
	padding: 0;
	-moz-border-radius: 0;
}

img.microthumb {
	border: 1px solid black;
	height: 20px;
	padding: 2px;
	vertical-align: middle;
	width: 20px;
}

img.microthumb:hover {
	padding: 1px;
	border-width: 2px;
}

.layout_top {
	height : 100px;
}

.layout_top .ads {
	float : right;
	width : 254px;
}

.layout {
	position : relative;
}

.layout-page {
	margin-right : 254px;
}

.layout-sidebar {
	position : absolute;
	top : 0;
	right : 0;
	width : 254px;
}

div.gallery_col {
	float: left;
	margin-right: 0.5%;
	overflow: hidden;
	width: 24.4%;
}

div.artupdates_thumb {
	float: left;
	overflow: hidden;
	height: 260px;
	width: 24.5%;
}

div.leftside div.gallery_col {
	width: 48%;
}

div.leftside {
	float: left;
	margin-right: 1%;
	overflow: hidden;
	width: 49.49%;
}

div.rightside {
	float: left;
	overflow: hidden;
	width: 49.49%;
}

div.halfwidth {
	float: left;
	width: 49.49%;
}

div.siteheader {
	font: 26px Trebuchet MS, Arial, sans-serif;
	font-style: italic;
	padding: 0px 16px;
	text-align: right;
}

div.sitemenu {
	padding: 6px 12px;
}

div.sitefooter {
	font-size: 10px;
	padding: 4px 8px;
	text-align: center;
}

div.outer {
	padding: 4px;
	-moz-border-radius: 3px;
}

h1, div.header {
	font: 17px Trebuchet MS, Arial, sans-serif;
	padding: 4px 8px;
	margin: 0;
}

div.subheader {
	font: 13px Trebuchet MS, Arial, sans-serif;
	padding-bottom: 10px;
}

div.padded {
	padding: 8px;
}

div.container {
	padding: 8px;
	-moz-border-radius: 4px;
}

div.container2, div.pollbar {
	border: 1px solid black;
	padding: 8px;
	-moz-border-radius: 4px;
}

div.pollbar {
	padding: 0;
	height: 10px;
	-moz-border-radius: 1px;
}

div.pollbarvoted {
	border-right: 1px solid black;
	height: 10px;
}

div.caption {
	font-weight: bold;
	padding: 1px 5px;
}

div.hint_body {
	padding: 8px;
}

div.minibutton {
	border: 1px solid black;
	cursor: pointer;
	float: left;
	font-size: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px 3px;
	-moz-border-radius: 7px;
}

div.minibutton_right {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}

div.tab {
	border: 1px solid black;
	border-bottom-width: 2px;
	border-right-width: 2px;
	cursor: pointer;
	display: inline;
	float: left;
	letter-spacing: 0;
	margin: 3px;
	padding: 1px 8px;
	white-space: nowrap;
	-moz-border-radius: 3px 3px 0 0;
}

div.tab_active {
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-right-width: 1px;
	border-top-width: 2px;
	cursor: default;
}

div.header div.tab {
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	margin-top: 5px;
	margin-bottom: -5px;
	padding: 1px 8px;
	position: relative;
	top: -1px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
}

div.header div.tab_active {
	font-weight: bold;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width: 2px;
	border-top-width: 1px;
	padding: 1px 12px;
	height: 22px;
	line-height: 22px;
	top: -5px;
	margin-bottom: -10px;
}

div.header div.tab_active:hover {
	cursor: default;
}

div.sep {
	margin-top: 8px;
}

div.clear {
	clear: both;
	font-size: 1px;
	line-height: 0.1;
}

div.hline {
	border: none;
	border-top: 1px dashed black;
	clear: both;
	font-size: 1px;
	line-height: 0.1;
	margin: 5px 0;
}

div.button, span.button {
	float: left;
	margin: 2px;
}

button, div.button, span.button, input, textarea, select, optgroup {
	border: 1px solid black;
	padding: 2px 4px;
	vertical-align: middle;
	-moz-border-radius: 3px;
}

select {
	padding: 2px 0;
}

optgroup {
	border: none;
	font-weight: bold;
}

option {
	font-weight: normal;
}

div.button_cmt {
	margin-right: 0px;
	padding-left: 2px;
	padding-right: 3px;
}

input.submit, button.submit, div.button_submit {
	border-bottom-width: 2px;
	border-right-width: 2px;
	cursor: pointer;
	vertical-align: baseline;
}

div.button_submit {
	padding: 3px 7px;
}

input.checkbox, input.radio {
	border: none;
	background: none;
}

button, div.button, span.button, input.checkbox, input.radio, label {
	cursor: pointer;
}

span.keyword {
	border: 0px solid black;
	border-bottom-width: 2px;
	cursor: pointer;
	line-height: 2;
	margin: 0 6px;
	white-space: nowrap;
}

div.keyword_space {
	height: 40px;
}

div.keyword_space div.tablike_place {
	float: left;
	padding: 5px 2px;
}

span.keywordlike_place {
}

div.keyword_space span.keywordlike_place {
	line-height: 2;
	margin: 0 4px;
}

span.hint {
	cursor: help;
}

.wide {
	width: 98.2%;
}

.notsowide {
	width: 500px;
	min-width: 200px;
	max-width: 100%;
}

div.notsowide {
	/*min-width: 500px;*/
}

textarea.notsowide {
	width: auto;
}

.notsowide_fix {
	width: 500px;
}

.narrow {
	width: 80px;
}

.a_left {
	text-align: left;
}

.a_center {
	text-align: center;
}

.a_justify {
	text-align: justify;
}

.a_right {
	text-align: right;
}

.f_left {
	float: left;
}

.f_right {
	float: right;
}

.v_middle {
	vertical-align: middle;
}

.v_top {
	vertical-align: top;
}

.mar_left {
	margin-left: 8px;
}

.mar_leftx2 {
	margin-left: 16px;
}

.mar_right {
	margin-right: 8px;
}

.mar_top {
	margin-top: 8px;
}

.mar_bottom {
	margin-bottom: 8px;
}

.pad_top {
	padding-top: 8px;
}

.pad_bottom {
	padding-bottom: 8px;
}

.disable_wrapping {
	white-space: nowrap;
}

div.user_stats {
	width: 325px;
}

.cmt_border_left {
	border-left: 1px dotted black;
	padding-left: 8px;
	margin-left: 12px;
}

.reminder {
	border-left: 2px solid black;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-left: 10px;
	margin-bottom: 12px;
}

.reminder_cap {
	margin-left: 2px;
}

img.deleted {
	border-color: #f00 !important;
	background: #f00 !important;
	opacity: 0.50;
}

img.pending {
	border-color: #f0f !important;
	background: #f0f !important;
	opacity: 0.75;
}

img.deleted:hover, img.pending:hover {
	opacity: 1.00;
}

.text_under_icon {
	display: block;
	float: left;
	padding: 2px;
	text-align: center;
	width: 30px;
}

.text_under_icon_grayed {
	opacity: 0.3;
}

.text_under_icon:hover {
	-moz-border-radius: 12px;
}

.text_under_icon_grayed:hover {
	background: none !important;
}

.text_under_icon_container_right {
	float: right;
	padding: 0;
	margin-top: -2px;
}

.text_under_icon_container_left {
	float: left;
	padding: 0;
	margin-top: -2px;
}

.nowrap {
	white-space: nowrap;
}

.mainDescFloater {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 300px;
	opacity: 0.96;
}

.termsOfService {
	cursor : default;
	margin-right : 35pt;
}
.termsOfService h4 {
	margin : 0 0 4px 0;
}

.termsOfService p {
	text-align : justify;
	margin : 0 0 12pt 40px;
}

.termsOfService ol, .termsOfService ul {
	margin-bottom : 12pt;
}
.termsOfService > ol > li {
	list-style-type : decimal;
	border-top : 3px double;
}
	.termsOfService ol > li:first-child {
		border-top : 0 none;
	}
	.termsOfService ol > li > ol > li {
		list-style-type : lower-alpha;
	}
		.termsOfService ol > li > ol > li > ol > li {
			list-style-type : lower-roman;
		}
	.termsOfService ol > li > div {
		float : right;
		clear : both;

		font-size : 80%;

		margin : -20px 0 20px 12pt;
	}
	.termsOfService ol > li > div > h4, .rule {
		margin-left : -9pt;
	}
	.termsOfService ol > li > div > ul {
		padding-left : 30pt;
		margin-left : -10px;
	}
