div.header div.tab {
	top: -2px;
}

div.header div.tab_active {
	top: -5px;
}

/***********************************************************\
*	Logo                                                    *
\***********************************************************/

.layout_top {
	background: url(/themes/white/logo.jpg) top left no-repeat;
	height: 100px;
}

/***********************************************************\
*	Text colors                                             *
\***********************************************************/

div.siteheader, h1, div.container div.header {
	color: #88d; /* Main title */
}

div.outer {
	color: #FFF; /* Main table */
}

a, span.hint, span.keyword:hover,
span.keyword_enabled, span.keyword_enabled:hover,
div.minibutton {
	color: #00d; /* Link */
}

label:hover, a:hover, div.tab:hover /*, button:hover, div.button:hover, span.button:hover, input:hover, select:hover, textarea:hover*/ {
	color: #d0d; /* Link (hovered) */
}

div.header a {
	color: #ccf;
}

div.header a:hover {
	color: #fea;
}

div.header .button a {
	color: #88d;
}

body, div.container {
	color: #000; /* Content */
}

div.container2, div.container2 table, button, div.button, span.button, input, select, textarea {
	color: #000; /* Sub-content */
}

div.tab_active, button:focus, input:focus, select:focus, textarea:focus {
	color: #000; /* Input (focused) */
}

div.header div.tab {
	color: #000;
}

span.keyword_enabled,
span.keyword_enabled:hover {
	color: #f00; /* Marked text */
}

span.error, div.error {
	color: #f00; /* Error */
}

/***********************************************************\
*	Background colors                                       *
\***********************************************************/

body {
	background: #F0F0FF; /* Document */
}

div.outer, div.pollbarvoted {
	background: #8390DE url(/themes/white/outer.jpg) top left repeat-x; /* Main table */
}

div.container {
	background: #FAFAFF url(/themes/white/container.jpg) top left no-repeat; /* Content */
}

div.container2 {
	background: #FFFFFF url(/themes/white/container2.jpg) top left no-repeat; /* Sub-content */
}

div.tab:hover, div.header div.tab:hover, button:hover, div.button:hover, span.button:hover, input:hover, select:hover, textarea:hover, div.pollbar {
	background: #E0E0F8 url(/themes/white/input-hover.jpg) top left repeat-x; /* Controls (hovered) */
}

div.tab, button, div.button, span.button, input, select, textarea {
	background: #F4F4F4 url(/themes/white/input.jpg) top left repeat-x; /* Controls */
}

div.tab_active, div.tab_active:hover, button:focus, input:focus, select:focus, textarea:focus {
	background: #F4F4F4 url(/themes/white/input-focus.jpg) top left repeat-x; /* Controls (focused) */
}

div.header div.tab {
	background: #CACFEF url(/themes/white/tab-inactive.jpg) top left repeat-x; /* Header tab (inactive) */
}

div.header div.tab_active, div.header div.tab_active:hover {
	background: #E0E0F8 url(/themes/white/input-hover.jpg) top left repeat-x; /* Header tab */
}

div.minibutton {
	background: #eee; /* Mini-buttons */
}

div.minibutton:hover, img.thumb:hover, img.microthumb:hover, .text_under_icon:hover {
	background: #fff; /* Mini-buttons (hovered) */
}

/***********************************************************\
*	Border/stroke colors                                    *
\***********************************************************/

input:focus, textarea:focus {
	border-color: #88d;
}

div.container2, div.hline, .cmt_border_left, div.pollbar, div.pollbarvoted {
	border-color: #bbb; /* Sub-content */
}

img.thumb, img.microthumb {
	border-color: #ddd; /* Thumb shadow */
}
img.thumb:hover, img.microthumb:hover {
	background-color: #ddd; /* Thumb shadow */
	border-color: #B6C0FF;
}

img.mature {
	border-color: #FFB6B6; /* Mature thumb border */
}
img.mature:hover {
	background-color: #FFB6B6; /* Mature thumb border */
	border-color: #FFDCEE;
}

div.tab, span.keyword, div.minibutton,
button, div.button, span.button, input, select, textarea {
	border-color: #aaa; /* Controls */
}

span.keyword_enabled,
span.keyword_enabled:hover {
	border-color: #fd0; /* Marked text */
}

.reminder {
	border-color: #88d; /* Line to the left of parent comment in Updates */
}

/***********************************************************/

input.checkbox, input.radio {
	border: none;
	background: none;
}

/***********************************************************/

.ui2-layout-bg {
	background-color : #f3f3f9;
}

.ui2-sidebar {
	color : #000 !important;
}
.ui2-sidebar a,
.ui2-top-repeat a {
	color : #0000dd !important;
}
.ui2-sidebar a:hover,
.ui2-top-repeat a:hover {
	color : #e700e8 !important;
}

ul.tabs li .ui2-tab-bg {
	background-color : #CACFEF;
}

ul.tabs li:hover .ui2-tab-bg,
ul.tabs li.active .ui2-tab-bg {
	background-color : #E0E0F8;
}

ul.tabs li * {
	color: #000 !important;
}

ul.tabs li:hover *,
ul.tabs li.active * {
	color: #000 !important;
}
