div.header div.tab {
	top: -1px;
}

div.header div.tab_active, div.header div.tab_active:hover {
	top: -5px;
}

div.caption {
	text-align: center;
}

div.outer div.caption {
	text-align: left;
}

/***********************************************************\
*	Logo                                                    *
\***********************************************************/

.layout_top {
	background: none;
	height: 0;
}

/***********************************************************\
*	Text colors                                             *
\***********************************************************/

h1, div.container div.header {
	color: #800; /* Main title */
}

div.siteheader {
	color: #800;
	font-size: 18px;
	padding-right: 30px;
	margin-top: 3px;
	float: right;
	width: 165px;
	text-align: center;
}

div.outer {
	color: #800; /* Main table */
}

a, span.hint, span.keyword:hover,
span.keyword_enabled, span.keyword_enabled:hover,
div.minibutton {
	color: #c48; /* Link */
}

label:hover, a:hover, div.tab:hover {
	color: #f48; /* Link (hovered) */
}

body {
	color: #fed;
}

div.container, div.container2 div.container2 {
	color: #000; /* Content */
}

div.container2, div.container2 table {
	color: #fed; /* Sub-content */
}

div.container2 a {
	color: #fd8;
}

div.container div.container2 div.container a,
div.container2 div.container2 a {
	color: #c48;
}

div.container div.container2 div.container a:hover,
div.container2 div.container2 a:hover {
	color: #f48;
}

div.container2 a:hover, div.container2 label:hover {
	color: #fff;
}

button, div.button, span.button, input, select, textarea {
	color: #000;
}

div.tab, button, div.button, span.button, input, select, textarea {
	-moz-border-radius: 0;
}

div.tab_active, button:focus, input:focus, select:focus, textarea:focus {
	color: #000; /* Input (focused) */
}

div.header div.tab {
	color: #c66;
}

div.header div.tab:hover {
	color: #FFEEDD;
}

div.header div.tab_active, div.header div.tab_active:hover {
	color: #FFEEDD;
}

span.keyword_enabled,
span.keyword_enabled:hover {
	color: #fff; /* Marked text */
}

span.error, div.error {
	color: #c00; /* Error */
	font-weight: bold;
}

.button span.error {
	color: #f00;
}

/***********************************************************\
*	Background colors                                       *
\***********************************************************/

body {
	background: #7E4449; /* Document */
}

div.outer {
	background: #F8B3A0 url(/themes/yellow/outer.jpg) top left repeat-x; /* Main table */
}

div.pollbarvoted {
	background: #903F90;
}

div.container {
	background: #FFBE95 url(/themes/yellow/container.jpg) top left repeat-x; /* Content */
}

div.container2 {
	background: #CA746D url(/themes/yellow/container2a.jpg) top left repeat-x; /* Sub-content */
}

div.tab:hover, button:hover, div.button:hover, span.button:hover, input:hover, select:hover, textarea:hover {
	background: #FFE8D5 url(/themes/yellow/input-hover.jpg) top left repeat-x; /* Controls (hovered) */
}

div.header div.tab:hover {
	background: #E8AA8D; /* Controls (hovered) */
}

div.tab, button, div.button, span.button, input, select, textarea,
div.container2 div.container2 {
	background: #FFE1C8 url(/themes/yellow/input.jpg) top left repeat-x; /* Controls */
}

div.tab_active, div.tab_active:hover, button:focus, input:focus, select:focus, textarea:focus {
	background: #FFE8D5; /* Controls (focused) */
}

div.header div.tab {
	background: #FFBE95; /* Header tab (inactive) */
}

div.header div.tab_active, div.header div.tab_active:hover, div.pollbarvoted {
	background: #DE906F url(/themes/yellow/tab-active.jpg) top left repeat-x; /* Header tab */
}

div.minibutton {
	background: #eee; /* Mini-buttons */
}

div.minibutton:hover, img.thumb:hover, img.microthumb:hover {
	background: #fff; /* Mini-buttons (hovered) */
}

.text_under_icon:hover {
	background: #F8B3A0;
}

/***********************************************************\
*	Border/stroke colors                                    *
\***********************************************************/

div.container2, div.hline, .cmt_border_left, div.pollbar, div.pollbarvoted {
	border-color: #000;
}

div.outer, div.container, div.container2 {
	border: 1px solid #000;
}

div.header div.tab {
	border: none;
}

div.header div.tab_active {
	border: 1px solid #000;
	border-bottom: none;
}

img.thumb, img.microthumb {
	background: #FFCC00;
	border-width: 1px;
	border-color: #000; /* Thumb shadow */
}
img.thumb:hover, img.microthumb:hover {
	background: #fff;
}

img.thumb {
	border-right-width: 3px;
	border-bottom-width: 3px;
}

img.mature {
	background: #f50;
	border-color: #000; /* Mature thumb border */
}

div.tab, span.keyword, div.minibutton,
button, div.button, span.button, input, select, textarea {
	border-color: #000; /* Controls */
}

span.keyword_enabled,
span.keyword_enabled:hover {
	border-color: #f0d; /* Marked text */
}

.reminder {
	border-color: #88d; /* Line to the left of parent comment in Updates */
}

/***********************************************************/

input.checkbox, input.radio {
	border: none;
	background: none;
}

td.rightside div.padded {
	padding: 2px 8px;
}

td.rightside div.container2 {
	border: none;
	border-top: 2px solid #fed;
	background: #CA746D url(/themes/yellow/container2a.jpg) top left repeat-x;
	color: #800;
	float: none;
	padding: 4px 20px;
	font-weight: normal;
	text-align: center;
}

/***********************************************************/

.ui2-layout-bg {
	background-color : #ffa770;
}

.ui2-sidebar {
	color : #000 !important;
}
.ui2-sidebar a,
.ui2-top-repeat a {
	color : #961957 !important;
}
.ui2-sidebar a:hover,
.ui2-top-repeat a:hover {
	color : #bd1f6e !important;
}

ul.tabs li .ui2-tab-bg {
	background-color : #FFBE95;
}

ul.tabs li:hover .ui2-tab-bg,
ul.tabs li.active .ui2-tab-bg {
	background-color : #DE906F;
}

ul.tabs li * {
	color: #c66 !important;
}

ul.tabs li:hover *,
ul.tabs li.active * {
	color: #FFEEDD !important;
}
