.main-document {
	margin-top : 0;
}

.layout_top {
	top : 0;
	padding-top : 0;
}

.ui2-top,
.ui2-top-sidebar,
.ui2-top-yaoigal {
	display : none !important;
}

.ui2-sidebar {
	margin-top : 0;
	padding-top : 16px;
}
