table.layout_top td.ads {
	display : none;
}

td.layoutright {
	display : none;
}

.main-document {
	margin-top : 31px;
}

.ui2 {
	width : 100%;
}

.ui2 td {
	vertical-align : top;
}

.ui2-page {
	margin-right : 180px;
}

.ui2-sidebar-td {
	width : 180px;

	background-image : url('/themes/ui.v2.0.r/ui2-left-repeat.png?10');
	background-position : right;
	background-repeat : repeat-y;
}

.ui2-sidebar {
	overflow : hidden;
	width : 180px;

	font-family : Verdana, Arial, sans-serif !important;
	font-size : 11px !important;
	text-align : center;

	background-image : url('/themes/ui.v2.0.r/ui2-left-repeat.png?10');
	background-position : right;
	background-repeat : repeat-y;
	margin-top : 16px;
	padding-bottom : 50px;
}

.ui2-sidebar > .a_center {
	width : 180px;
}

.ui2-sidebar * {
	font-family : Verdana, Arial, sans-serif !important;
	font-size : 11px !important;
}

.ui2-top-repeat {
	position : absolute;
	top : 0;
	left : 0;
	right : 180px;
	height : 31px;
	z-index : 10;

	background-image : url('/themes/ui.v2.0.r/ui2-top-repeat.png?10');
	background-position : top;
	background-repeat : repeat-x;
	padding-left : 100px;
}

.ui2-top-repeat img {
	margin-top : -2px;
}

.ui2-top-repeat a {
	font-family : Verdana, Arial, sans-serif !important;
	font-size : 11px !important;
	font-weight : bold;
	line-height : 28px;

	margin-left : 8px;
}

.ui2-top-left {
	position : absolute;
	top : 0;
	right : -180px;
	width : 180px;
	height : 44px;

	background-image : url('/themes/ui.v2.0.r/ui2-top-left.png?10');
	background-position : top right;
	background-repeat : no-repeat;
}

.ui2-top-right {
	position : absolute;
	top : 0;
	left : 10px;
	width : 63px;
	height : 31px;
	z-index : 11;

	background-image : url('/themes/ui.v2.0.r/ui2-top-right.png?10');
	background-position : top right;
	background-repeat : no-repeat;
}

.ui2-top-logo {
	display : none;
	position : absolute;
	top : 0;
	left : 0;
	width : 60px;
	height : 51px;
	z-index : 10;

	background-image : url('/themes/ui.v2.0.r/ui2-top-logo.png?10');
	background-position : top right;
	background-repeat : no-repeat;
}

.ui2-separator {
	width : 180px;
	height : 7px;

	background-image : url('/themes/ui.v2.0.r/ui2-separator.png?10');
	background-position : top left;
	background-repeat : no-repeat;
}

.ui2-section-closed,
.ui2-section-open {
	width : 180px;
	height : 30px;

	font-weight : bold;
	line-height : 30px;
	text-align : center;

	background-image : url('/themes/ui.v2.0.r/ui2-section-closed.png?10');
	background-position : top left;
	background-repeat : no-repeat;
	margin-top : 10px;
}

.ui2-section-open {
	background-image : url('/themes/ui.v2.0.r/ui2-section-open.png?10');
}

.ui2-section-body {
	text-align : left;

	margin : 5px 15px;
	overflow : hidden;
}

div.header {
	padding-bottom : 0;
}

div.header div.tab {
	margin-bottom: -5px;
}

.ui2-tab-list {
	margin : 0;
	padding : 0;
}

.ui2-tab-list span {
	display : block;
}

.ui2-tab-base {
	float : left;
	width : auto;
	height : 20px;
	position : relative;
	top : 2px;

	margin : 0;
	margin-right : 3px;
	padding : 0;
	list-style : none;
}

.ui2-tab-active {
	height : 22px;
	top : 0;
}

.ui2-tab-bg1,
.ui2-tab-bg2,
.ui2-tab-bg3,
.ui2-tab-bg4 {
	position : absolute;
	top : 0;
	left : 0;
	right : 0;
	height : 1px;
}

.ui2-tab-bg1 {
	left : 4px;
	right : 4px;
	top : 0;
}

.ui2-tab-bg2 {
	left : 2px;
	right : 2px;
	top : 1px;
	height : 2px;
}

.ui2-tab-bg3 {
	left : 1px;
	right : 1px;
	top : 3px;
}

.ui2-tab-bg4 {
	left : 0;
	right : 0;
	top : 4px;
	height : 16px;
}

.ui2-tab-active .ui2-tab-bg4 {
	height : 18px;
}

.ui2-tab-left {
	position : absolute;
	left : 0;
	right : auto;
	width : 7px;
	height : 20px;

	background-image : url('/themes/ui.v2.0.r/ui2-tab-left.png?10');
	background-position : top right;
	background-repeat : no-repeat;
}

.ui2-tab-center {
	height : 20px;
	position : absolute;
	left : 7px;
	right : 7px;

	background-image : url('/themes/ui.v2.0.r/ui2-tab-center.png?10');
	background-position : top left;
	background-repeat : repeat-x;
}

.ui2-tab-right {
	display : block;
	position : absolute;
	left : auto;
	right : 0;
	width : 7px;
	height : 20px;

	background-image : url('/themes/ui.v2.0.r/ui2-tab-right.png?10');
	background-position : top left;
	background-repeat : no-repeat;
}

.ui2-tab-content {
	display : block;
	overflow : hidden;

	text-align : center;

	padding : 0 8px;
}

.ui2-tab-content:after {
	content : attr( title );
	display : block;
}

.ui2-tab-content2 {
	display : block;
	height : 20px;
	overflow : hidden;
	position : absolute;
	left : 0;
	right : 0;
	top : 0;

	line-height : 20px;
	text-align : center;
	white-space : nowrap;

	padding : 0px 8px;
}

.ui2-tab-content2 img {
	position : relative;
	top : -1px;
}

.ui2-tab-base .ui2-tab-content,
.ui2-tab-base .ui2-tab-content2 {
	font-size : 0.85em;
}

.ui2-tab-active .ui2-tab-content,
.ui2-tab-active .ui2-tab-content2 {
	font-weight : bold;
	font-size : 1em;
}

.ui2-tab-active .ui2-tab-left,
.ui2-tab-active .ui2-tab-center,
.ui2-tab-active .ui2-tab-right,
.ui2-tab-active .ui2-tab-content,
.ui2-tab-active .ui2-tab-content2 {
	height : 22px;
	overflow : hidden;
}
