div.header div.tab {
	top: -1px;
}

div.header div.tab_active {
	top: -5px;
}

/***********************************************************\
*	Text colors                                             *
\***********************************************************/

div.siteheader, h1, div.container div.header {
	color: #aaa; /* Main title */
}

div.siteheader {
	display: none;
}

.layout_top .rightside .container2 {
	border: none;
	color: #ddd;
	float: left;
	width: 100%;
	text-align: center;
	padding: 0;
}

.layoutright .container2 {
	border: none;
	border-top: 2px solid #DDD;
}

div.outer {
	color: #000; /* Main table */
}

a, span.hint, span.keyword:hover,
span.keyword_enabled, span.keyword_enabled:hover,
div.minibutton {
	color: #00c; /* Link */
}

label:hover, a:hover, div.tab:hover /*, button:hover, div.button:hover, span.button:hover, input:hover, select:hover, textarea:hover*/ {
	color: #d0d; /* Link (hovered) */
}

div.header a {
	font-size: 80%;
}

body, div.container {
	color: #000; /* Content */
}

div.container2, div.container2 table, button, div.button, span.button, input, select, textarea {
	color: #000; /* Sub-content */
}

div.tab_active, button:focus, input:focus, select:focus, textarea:focus {
	color: #000; /* Input (focused) */
}

div.header div.tab {
	color: #000;
}

span.keyword_enabled,
span.keyword_enabled:hover {
	color: #f00; /* Marked text */
}

span.error, div.error {
	color: #f00; /* Error */
}

/***********************************************************\
*	Background colors                                       *
\***********************************************************/

body {
	background: #FFF; /* Document */
}

div.outer, div.pollbarvoted {
	background: #FFF; /* Main table */
}

div.container {
	background: #FFF; /* Content */
	border: none;
	border-top: 1px solid #ddd;
}

div.container2 {
	background: #FFFFFF; /* Sub-content */
}

div.tab:hover, div.header div.tab:hover, button:hover, div.button:hover, span.button:hover, input:hover, select:hover, textarea:hover, div.pollbar {
	background: #E0E0E0; /* Controls (hovered) */
}

div.tab, button, div.button, span.button, input, select, textarea {
	background: #FFF; /* Controls */
}

div.tab_active, div.tab_active:hover, button:focus, input:focus, select:focus, textarea:focus {
	background: #F4F4F4; /* Controls (focused) */
}

div.header div.tab {
	background: #EEE; /* Header tab (inactive) */
	border-color: #DDD;
}

div.header div.tab_active, div.header div.tab_active:hover {
	background: #FFF; /* Header tab */
	border-color: #AAA;
}

div.minibutton {
	background: #eee; /* Mini-buttons */
}

div.minibutton:hover, img.thumb:hover, img.microthumb:hover, .text_under_icon:hover {
	background: #fff; /* Mini-buttons (hovered) */
}

/***********************************************************\
*	Border/stroke colors                                    *
\***********************************************************/

input:focus, textarea:focus {
	border-color: #88d;
}

div.container2, div.hline, .cmt_border_left, div.pollbar, div.pollbarvoted {
	border-color: #bbb; /* Sub-content */
}

img, .pngIE {
	opacity: 0.30;
}
img:hover, .pngIE:hover {
	opacity: 1.00;
}

img.thumb, img.microthumb {
	border-color: #ddd; /* Thumb shadow */
	opacity: 0.03;
}
img.thumb:hover, img.microthumb:hover {
	background-color: #ddd; /* Thumb shadow */
	border-color: #B6C0FF;
}

img.thumb:hover, img.microthumb:hover {
	opacity: 0.30;
}

img.mature {
	border-color: #FFB6B6; /* Mature thumb border */
}
img.mature:hover {
	background-color: #FFB6B6; /* Mature thumb border */
	border-color: #FFDCEE;
}

div.tab, span.keyword, div.minibutton,
button, div.button, span.button, input, select, textarea {
	border-color: #aaa; /* Controls */
}

span.keyword_enabled,
span.keyword_enabled:hover {
	border-color: #fd0; /* Marked text */
}

.reminder {
	border-color: #88d; /* Line to the left of parent comment in Updates */
}

/***********************************************************/

input.checkbox, input.radio {
	border: none;
	background: none;
}

/***********************************************************/

.ui2-layout-bg {
	background-color : #ffffff;
}

.ui2-sidebar {
	color : #000 !important;
}
.ui2-sidebar a,
.ui2-top-repeat a {
	color : #00c !important;
}
.ui2-sidebar a:hover,
.ui2-top-repeat a:hover {
	color : #00f !important;
}
