body {
	background : {bBody};
}

.layout_top {
	background : {bBody} url({fileLogo}) top left {layoutTiling}; /* Document */
	height : 100px;
}

h1, div.container div.header {
	color : {cContainer}; /* Headers */
}

div.outer {
	color : {cOuter}; /* Main table */
}

a, span.hint, span.keyword:hover,
span.keyword_enabled, span.keyword_enabled:hover,
div.minibutton {
	color : {cLink}; /* Link */
}

label:hover, a:hover, div.tab:hover {
	color : {cLinkHover}; /* Link (hovered) */
}

div.header a {
	color : {cHeaderLink}; /* Link in header */
}

div.header a:hover {
	color : {cHeaderLinkHover}; /* Link in header (hovered) */
}

div.header div.button a {
	color : {cLink}; /* Link */
}

div.header div.button a:hover {
	color : {cLinkHover}; /* Link */
}

body {
	color : {cBody}; /* Layout */
}

div.container {
	color : {cContainer}; /* Content */
}

div.container2, div.container2 table, button, div.button, span.button, input, select, textarea {
	color : {cContainer2}; /* Sub-content */
}

div.tab_active, button:focus, input:focus, select:focus, textarea:focus {
	color : {cInput}; /* Input (focused) */
}

div.header div.tab {
	color : {cTabInactive};
}

div.header div.tab_active, div.header div.tab:hover {
	color : {cTabActive};
}

span.keyword_enabled,
span.keyword_enabled:hover {
	color : {cMarkedText}; /* Marked text */
}

span.error, div.error {
	color : {cHeaderLink}; /* Error */
}

div.container span.error, div.container div.error {
	color : {cMarkedText}; /* Error */
}

div.outer {
	background : {bOuter} url({fileOuter}) top left {outerTiling}; /* Main table */
}

div.container {
	background : {bContainer} url({fileContainer}) top left {containerTiling}; /* Content */
}

div.container2 {
	background : {bContainer2} url({fileContainer2}) top left {container2Tiling}; /* Sub-content */
}

div.tab:hover, div.header div.tab:hover, input:hover, select:hover, textarea:hover {
	background : {bInputHover}; /* Tabs/Inputs (hovered) */
}

button:hover, div.button:hover, span.button:hover, input.submit:hover, input.button:hover {
	background : {bButtonHover}; /* Buttons (hovered) */
}

div.tab, input, select, textarea {
	background : {bInput}; /* Tabs/Inputs */
}

button, div.button, span.button, input.submit, input.button, div.pollbar {
	background : {bButton}; /* Buttons */
}

div.tab_active, div.tab_active:hover, button:focus, div.pollbarvoted {
	background : {bTabActive}; /* Controls (focused) */
}

input:focus, select:focus, textarea:focus {
	background : {bInputFocus}; /* Input (focused) */
}

div.header div.tab {
	background : {bTabInactive}; /* Header tab (inactive) */
}

div.header div.tab_active, div.header div.tab_active:hover, div.header div.tab:hover {
	background : {bTabActive}; /* Header tab */
}

div.minibutton {
	background : {bContainer2}; /* Mini-buttons */
}

div.minibutton:hover, img.thumb:hover, img.microthumb:hover {
	background : {bContainer}; /* Mini-buttons (hovered) */
}

.text_under_icon:hover {
	background : {bButton};
}

input:focus, textarea:focus {
	border-color : {cMarkedText};
}

div.container2, div.hline, .cmt_border_left, div.pollbar, div.pollbarvoted {
	border-color : {cOutline}; /* Sub-content */
}

img.thumb, img.microthumb {
	border-color : {cThumbBorder}; /* Thumb shadow */
}
img.thumb:hover, img.microthumb:hover {
	background-color : {cThumbBorder}; /* Thumb shadow */
	border-color : {cLink};
}

img.mature {
	border-color : {cThumbBorderMature}; /* Mature thumb border */
}

img.mature:hover {
	background-color : {cThumbBorderMature}; /* Mature thumb border */
	border-color : {cLink};
}

div.tab {
	border-color : {cTabOutline}; /* Tab outline */
}

span.keyword {
	border-color : {cTabInactive}; /* Keyword tab */
}

input, select, textarea {
	border-color : {cOutline}; /* Input fields */
}

div.minibutton, button, div.button, span.button, input.submit, input.button {
	border-color : {cTabOutline}; /* Buttons */
}

span.keyword_enabled,
span.keyword_enabled:hover {
	border-color : {cMarkedText}; /* Marked text */
}

.reminder {
	border-color : {cLinkHover}; /* Line to the left of parent comment in Updates */
}

input.checkbox, input.radio {
	border : none;
	background : none;
}

div.container2 {
	{sOutline}
}

div.header_title {
	{sTitleMargin}
}

.ui2-layout-bg {
	background-color : {bUI2Layout};
}

.ui2-sidebar {
	color : {cContainer2} !important;
}

.ui2-sidebar a,
.ui2-top-repeat a {
	color : {cLink} !important;
}
.ui2-sidebar a:hover,
.ui2-top-repeat a:hover {
	color : {cLinkHover} !important;
}

ul.tabs li .ui2-tab-bg {
	background-color : {bTabInactive};
}

ul.tabs li:hover .ui2-tab-bg,
ul.tabs li.active .ui2-tab-bg {
	background-color : {bTabActive};
}

ul.tabs li * {
	color : {cTabInactive} !important;
}

ul.tabs li:hover *,
ul.tabs li.active * {
	color : {cTabActive} !important;
}
